.ui-datatable * {
	border: 0px !important;
	background-color: white;
}

.ui-datagrid-content {
	border: none;
	background-color: transparent;
}

table thead tr {
	display: none;
}

.datatable td {
	text-align: center;
}